<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
         bootstrap="web/core/tests/bootstrap.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="false"
         failOnWarning="false"
>
  <php>
    <env name="SIMPLETEST_BASE_URL" value="http://web"/>
    <env name="SIMPLETEST_DB" value="pgsql://dionata:123@db:5432/db"/>
    <env name="BROWSERTEST_OUTPUT_BASE_URL" value=""/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/tmp/web"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>web/modules/custom</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>web/modules/custom</directory>
    </include>
  </source>
</phpunit>