<header class="header-main">
	<div class="header-main__inner">

		{# Logo #}
		<div class="header-main__logo-wrap">
			<div class="header-main__logo-title">
				<a href="{{ path('<front>') }}" class="header-main__logo-link">
					<img src="{{ site_logo }}" alt="{{ site_name }} logo" class="logo">
				</a>
			</div>
		</div>

		{# Hamburger Mobile #}
		<button id="hamburger" class="header-main__hamburger">
			<span class="header-main__hamburger-line header-main__hamburger-line--top"></span>
			<span class="header-main__hamburger-line header-main__hamburger-line--middle"></span>
			<span class="header-main__hamburger-line header-main__hamburger-line--bottom"></span>
		</button>

		{# Menu + CTA #}
		<div id="menu" class="header-main__nav-wrap">

			{# Menu principal #}
			<nav class="header-main__nav">
				<div class="header-main__nav-inner">
					{{ page.primary_menu }}
				</div>
			</nav>

			{# CTAs #}
			<div class="header-main__cta-wrap">
				{% include '@front_theme/includes/menus.html.twig' with {'menu': menu_cta} %}
			</div>
		</div>
	</div>
</header>
