<div id="search-modal" class="modal-search">

	<div class="modal-search__dialog">

		<button id="search-modal-close-btn" class="modal-search__close">
			&times;
		</button>

		<h3 class="modal-search__title">
			{{ 'Search the site'|t }}
		</h3>

		<div id="search-modal-content" class="modal-search__content">
			{{ drupal_block('search_form_block') }}
		</div>
	</div>
</div>
