{% include '@front_theme/includes/header.html.twig' with {
  'site_name': site_name,
  'site_logo': site_logo,
} %}

<div class="page-layout__messages">
  {{ messages }}
</div>

<main id="main-content" class="page-layout__main">
  <div class="page-layout__inner">

    {% if page.hero %}
      <section class="page-layout__hero">
        {{ page.hero }}
      </section>
    {% endif %}

    <div class="content">
      {{ page.content }}
    </div>

  </div>
</main>

{% include '@front_theme/includes/modal-search.html.twig' %}

{% include '@front_theme/includes/footer.html.twig' %}

{% include '@front_theme/includes/page-loader.html.twig' with {
  'site_name': site_name,
  'site_logo': site_logo,
} %}