{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <section
    {{ attributes
      .addClass(classes)
      .addClass('relative overflow-hidden', 'auto-animate')
      .setAttribute('data-animate', 'fade-up')
    }}
  >
    {% block content %}
      {{ content }}
    {% endblock %}
  </section>
{% endblock paragraph %}
